body{
    background-color:$body;
    font-family: 'Montserrat', sans-serif;

}
*,
*:after,
*:before {
  @include box-sizing(inherit);
}

html{
    @include box-sizing(border-box);
    height: 100%;
}